*#*
*~
*.ipynb_checkpoints*
*pyc
*.pdf
*.DS_Store
analyses/data/simulations/
analyses/data/ystr_validation/
analyses/data/autosomal_validation/
analyses/data/autosomal_estimates/
analyses/data/constraint/
analyses/data/strsets/
analyses/data/constraint_strsets/
simulations_joint/
figures/plots
scratch.ipynb