*#*
*~
*.ipynb_checkpoints*
*pyc
*.pdf
*.DS_Store
analyses/data/simulations/
analyses/data/ystr_validation/
analyses/data/autosomal_validation/
analyses/data/autosomal_estimates/
analyses/data/constraint/
analyses/data/strsets/
analyses/data/constraint_strsets/
analyses/data/suppdata/
simulations_joint/
figures/plots
scratch.ipynb
*FigureX*
all_str_genes.txt
bottom_constrained.txt
gene2go
go-basic.obo
goslim_generic.obo
top_constrained.txt